<header class="header">
    <div class="container">
        <div>
            <a href="/">
                <p class="header__logo">StackTrack 📦</p>
            </a>
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/items">Items</a></li>
                <li><a href="/categories">Categories</a></li>
            </ul>
        </nav>
    </div>
</header>