<section class="hero__section">
    <div class="container">
        <h1 class="hero__title">Welcome To StackTrack 📦</h1>
        <div class="hero__secondary">
            <p class="hero__secondary__text">You can View, Edit, Delete Items, and Categories</p>
            <div class="hero__navigation">
                <button class="primaryBtn"><a class="buttonLink" href="/items">View Items</a></button>
                <button class="primaryBtn"><a class="buttonLink" href="/categories">View Categories</a></button>
            </div>
        </div>
    </div>
</section>